anndata==0.10.9
einops==0.8.1
h5py==3.7.0
hdf5plugin==5.1.0
ipdb==0.13.9
joblib==1.4.2
matplotlib==3.9.4
numpy==1.24.3
opencv-python==4.11.0.86
pandas==2.3.2
python-dateutil==2.9.0.post0
pytorch-lightning==1.9.4
scanpy==1.10.3
scikit-learn==1.5.0
scipy==1.13.1
seaborn==0.13.2
sklearn==0.0
squidpy==1.6.1
tifffile==2024.8.30
torch==2.1.1
torchmetrics==0.8.2
tqdm==4.67.1
transformers==4.18.0
